@media only screen and (min-width: 456px) {

  
  .MainDiv{
      display: flex;
      flex-direction: row;
  }
  .left-div{
    height: 100vh;
    width: 35vw; 
    background: white;
    text-align: center;
    justify-content: center;
    /* overflow-x: hidden;
    overflow-y: auto; */
     
  }

.group-parent-div {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 137px);
  padding-right: 5px;
}

.grp-card {
  margin-bottom: 15px;
  border-radius: 8px;
  cursor: pointer;
  background: transparent; /* Default background */
}

.btn-div {
  position: absolute;
  top: 80%;
  left: 20%;
  width: 80px;
  height: 80px;
  z-index: 1000;
}
.btn-div img{
    
  width:100%;height: 100%;
  }
  .grp-add-btn{
    width: 100%;
    height: 100%;
    
  }




  .right-div{
      height: 100vh;
      width: 75vw;  
      background: #DAE5F5;
      overflow: hidden;
  }
  h3{
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 8.5rem;
  letter-spacing: 0.02em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
  }
  
   .op{
    
    filter:brightness(75%);
  
   }
   .GroupCards{
    display: flex;
    align-items: center;
    gap: 7%;
    width: 100%;
    height: 5rem;
    border-radius: 16px;
    padding-left: 15%;
   }
}

@media only screen and (max-width: 769px) {
  .btn-div {
    position: absolute;
    top: 80%;
    left: 20%;
    width: 67px;
    height: 67px;
    z-index: 1000;
  }
  .btn-div img{
      
    width:100%;height: 100%;
    }
    .grp-add-btn{
      width: 100%;
      height: 100%;
      
    }
    h3{
      margin-top: 3%;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 5rem;
      letter-spacing: 0.02em;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      
      }
      .GroupCards{
        display: flex;
        align-items: center;
        justify-items: left;
        gap: 7%;
        width: 100%;
        height: 5rem;
        border-radius: 16px;
        padding-left: 9%;
        
       }
  

}
 @media only screen and (max-width:455px) {
  .MainDiv-mobile{
    height: 100vh;
    width: 100vw; 
    background: white;
    text-align: center;
    justify-content: center;
   
  }
  .GroupCards{
    display: flex;
    align-items: center;
    justify-items: left;
    gap: 7%;
    width: 100%;
    height: 5rem;
    border-radius: 16px;
    padding-left: 1.5%;
   }
  .group-parent-div {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 70px);
    padding-right: 5px;
  }
  .grp-card{
    margin-top: -2%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
    
  }
  .pocket-notes{
    font-size: 2rem;
    text-align: left;
    padding-left: 2.5%;
    
  }
  .btn-div{
    position: absolute;
    top:82%;
    left: 60%;
    width: 75px;
    height: 75px;
    z-index: 1000;
    
  }
  .btn-div img{
    
  width:75px;height: 75px;
  }
  .grp-add-btn{
    width: 100%;
    height: 100%;
  }
  .op-for-mobile{
    filter:brightness(75%);
  }
 }